* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../Camera\ Roll/bg.jpg');
    background-size: cover;
    background-position: center;
}

.mainheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader .logo img {
    width: 250px;
    height: 270px;
    padding-top: 80px;
}

.mainheader nav {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Josefin Slab', serif;
}

.mainheader nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.menubtn {
    margin-right: 60px;
}

.mainheader button {
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .right-section {
    padding-right: 70px;
}

main .left-section {
    padding-left: 100px;
}

.left-section h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 100px;
}

.left-section h1 {
    font-size: 55px;
    text-transform: capitalize;
    font-weight: 70;
    margin: 12px 0;
}

.left-section p {
    margin-bottom: 20px;
}

.left-section button {
    padding: 15px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
    border-radius: 10px;
}